@function pxToEm($size){
    @return ($size / $fontSizeCore) * 1em;
}

@mixin getFontSize($fabric-font) {

    @each $fontDef in $fontSizes {
        
        // check Office UI Frabric name
        $fdTitle: nth($fontDef, 1);
        // base office ui fabric in PX value
        $fdSizePx: nth($fontDef, 2);
        // base office ui fabric in EM value
        $fdSizeEm: pxToEm($fdSizePx);
        // get font weight
        $fdWeight: nth($fontDef, 3);
        
        @if $fdTitle==$fabric-font{
            font-size: $fdSizeEm;
        }

    }

}