$ouif-themeDarker: "[theme:themeDarker, default:#004578]";
$ouif-themeDark: "[theme:themeDark, default:#005a9e]";
$ouif-themeDarkAlt: "[theme:themeDarkAlt, default:#106ebe]";
$ouif-themePrimary: "[theme:themePrimary, default:#0078d4]";
$ouif-themeSecondary: "[theme:themeSecondary, default:#2b88d8]";
$ouif-themeTertiary: "[theme:themeTertiary, default:#71afe5]";
$ouif-themeLight: "[theme:themeLight, default:#c7e0f4]";
$ouif-themeLighter: "[theme:themeLighter, default:#deecf9]";
$ouif-themeLighterAlt: "[theme:themeLighterAlt, default:#eff6fc]";
$ouif-black: "[theme:black, default:#000000]";
$ouif-blackTranslucent40: "[theme:blackTranslucent40, default:rgba(0,0,0,.4)]";
$ouif-neutralDark: "[theme:neutralDark, default:#212121]";
$ouif-neutralPrimary: "[theme:neutralPrimary, default:#333333]";
$ouif-neutralPrimaryAlt: "[theme:neutralPrimaryAlt, default:#3c3c3c]";
$ouif-neutralSecondary: "[theme:neutralSecondary, default:#666666]";
$ouif-neutralSecondaryAlt: "[theme:neutralSecondaryAlt, default:#767676]";
$ouif-neutralTertiary: "[theme:neutralTertiary, default:#a6a6a6]";
$ouif-neutralTertiaryAlt: "[theme:neutralTertiaryAlt, default:#c8c8c8]";
$ouif-neutralQuaternary: "[theme:neutralQuaternary, default:#d0d0d0]";
$ouif-neutralQuaternaryAlt: "[theme:neutralQuaternaryAlt, default:#dadada]";
$ouif-neutralLight: "[theme:neutralLight, default:#eaeaea]";
$ouif-neutralLighter: "[theme:neutralLighter, default:#f4f4f4]";
$ouif-neutralLighterAlt: "[theme:neutralLighterAlt, default:#f8f8f8]";
$ouif-accent: "[theme:accent, default:#8764b8]";
$ouif-white: "[theme:white, default:#ffffff]";
$ouif-whiteTranslucent40: "[theme:whiteTranslucent40, default:rgba(255,255,255,.4)]";
$ouif-yellowDark: "[theme:yellowDark, default:#d29200]";
$ouif-yellow: "[theme:yellow, default:#ffb900]";
$ouif-yellowLight: "[theme:yellowLight, default:#fff100]";
$ouif-orange: "[theme:orange, default:#d83b01]";
$ouif-orangeLight: "[theme:orangeLight, default:#ea4300]";
$ouif-orangeLighter: "[theme:orangeLighter, default:#ff8c00]";
$ouif-redDark: "[theme:redDark, default:#a80000]";
$ouif-red: "[theme:red, default:#e81123]";
$ouif-magentaDark: "[theme:magentaDark, default:#5c005c]";
$ouif-magenta: "[theme:magenta, default:#b4009e]";
$ouif-magentaLight: "[theme:magentaLight, default:#e3008c]";
$ouif-purpleDark: "[theme:purpleDark, default:#32145a]";
$ouif-purple: "[theme:purple, default:#5c2d91]";
$ouif-purpleLight: "[theme:purpleLight, default:#b4a0ff]";
$ouif-blueDark: "[theme:blueDark, default:#002050]";
$ouif-blueMid: "[theme:blueMid, default:#00188f]";
$ouif-blue: "[theme:blue, default:#0078d4]";
$ouif-blueLight: "[theme:blueLight, default:#00bcf2]";
$ouif-tealDark: "[theme:tealDark, default:#004b50]";
$ouif-teal: "[theme:teal, default:#008272]";
$ouif-tealLight: "[theme:tealLight, default:#00b294]";
$ouif-greenDark: "[theme:greenDark, default:#004b1c]";
$ouif-green: "[theme:green, default:#107c10]";
$ouif-greenLight: "[theme:greenLight, default:#bad80a]";
$ouif-primaryBackground: "[theme:primaryBackground, default:#ffffff]";
$ouif-primaryText: "[theme:primaryText, default:#333333]";
$ouif-backgroundOverlay: "[theme:backgroundOverlay, default:]";
$ouif-suiteBarBackground: "[theme:suiteBarBackground, default:#0078d4]";
$ouif-suiteBarText: "[theme:suiteBarText, default:#ffffff]";
$ouif-suiteBarDisabledText: "[theme:suiteBarDisabledText, default:#eaeaea]";
$ouif-topBarBackground: "[theme:topBarBackground, default:#eaeaea]";
$ouif-topBarText: "[theme:topBarText, default:#666666]";
$ouif-topBarHoverText: "[theme:topBarHoverText, default:#333333]";
$ouif-dialogBorder: "[theme:dialogBorder, default:#f4f4f4]";
$ouif-backgroundImageUri: "[theme:backgroundImageUri, default:none]";
$ouif-bodyBackground: "[theme:bodyBackground, default:#ffffff]";
$ouif-bodyStandoutBackground: "[theme:bodyStandoutBackground, default:#f8f8f8]";
$ouif-bodyFrameBackground: "[theme:bodyFrameBackground, default:#ffffff]";
$ouif-bodyFrameDivider: "[theme:bodyFrameDivider, default:#eaeaea]";
$ouif-bodyText: "[theme:bodyText, default:#333333]";
$ouif-bodyTextChecked: "[theme:bodyTextChecked, default:#000000]";
$ouif-bodySubtext: "[theme:bodySubtext, default:#666666]";
$ouif-bodyDivider: "[theme:bodyDivider, default:#eaeaea]";
$ouif-disabledBackground: "[theme:disabledBackground, default:#f4f4f4]";
$ouif-disabledText: "[theme:disabledText, default:#a6a6a6]";
$ouif-disabledBodyText: "[theme:disabledBodyText, default:#a6a6a6]";
$ouif-disabledSubtext: "[theme:disabledSubtext, default:#d0d0d0]";
$ouif-disabledBodySubtext: "[theme:disabledBodySubtext, default:#c8c8c8]";
$ouif-focusBorder: "[theme:focusBorder, default:#666666]";
$ouif-variantBorder: "[theme:variantBorder, default:#eaeaea]";
$ouif-variantBorderHovered: "[theme:variantBorderHovered, default:#a6a6a6]";
$ouif-defaultStateBackground: "[theme:defaultStateBackground, default:#f8f8f8]";
$ouif-errorText: "[theme:errorText, default:#a80000]";
$ouif-warningText: "[theme:warningText, default:#333333]";
$ouif-successText: "[theme:successText, default:#107C10]";
$ouif-errorBackground: "[theme:errorBackground, default:rgba(232, 17, 35, .2)]";
$ouif-blockingBackground: "[theme:blockingBackground, default:rgba(234, 67, 0, .2)]";
$ouif-warningBackground: "[theme:warningBackground, default:rgba(255, 185, 0, .2)]";
$ouif-warningHighlight: "[theme:warningHighlight, default:#ffb900]";
$ouif-successBackground: "[theme:successBackground, default:rgba(186, 216, 10, .2)]";
$ouif-inputBorder: "[theme:inputBorder, default:#a6a6a6]";
$ouif-inputBorderHovered: "[theme:inputBorderHovered, default:#333333]";
$ouif-inputBackground: "[theme:inputBackground, default:#ffffff]";
$ouif-inputBackgroundChecked: "[theme:inputBackgroundChecked, default:#0078d4]";
$ouif-inputBackgroundCheckedHovered: "[theme:inputBackgroundCheckedHovered, default:#106ebe]";
$ouif-inputForegroundChecked: "[theme:inputForegroundChecked, default:#ffffff]";
$ouif-inputFocusBorderAlt: "[theme:inputFocusBorderAlt, default:#0078d4]";
$ouif-smallInputBorder: "[theme:smallInputBorder, default:#666666]";
$ouif-inputText: "[theme:inputText, default:#333333]";
$ouif-inputTextHovered: "[theme:inputTextHovered, default:#212121]";
$ouif-inputPlaceholderText: "[theme:inputPlaceholderText, default:#666666]";
$ouif-buttonBackground: "[theme:buttonBackground, default:#f4f4f4]";
$ouif-buttonBackgroundChecked: "[theme:buttonBackgroundChecked, default:#c8c8c8]";
$ouif-buttonBackgroundHovered: "[theme:buttonBackgroundHovered, default:#eaeaea]";
$ouif-buttonBackgroundCheckedHovered: "[theme:buttonBackgroundCheckedHovered, default:#eaeaea]";
$ouif-buttonBackgroundPressed: "[theme:buttonBackgroundPressed, default:#eaeaea]";
$ouif-buttonBackgroundDisabled: "[theme:buttonBackgroundDisabled, default:#f4f4f4]";
$ouif-buttonBorder: "[theme:buttonBorder, default:transparent]";
$ouif-buttonText: "[theme:buttonText, default:#333333]";
$ouif-buttonTextHovered: "[theme:buttonTextHovered, default:#212121]";
$ouif-buttonTextChecked: "[theme:buttonTextChecked, default:#212121]";
$ouif-buttonTextCheckedHovered: "[theme:buttonTextCheckedHovered, default:#000000]";
$ouif-buttonTextPressed: "[theme:buttonTextPressed, default:#212121]";
$ouif-buttonTextDisabled: "[theme:buttonTextDisabled, default:#a6a6a6]";
$ouif-buttonBorderDisabled: "[theme:buttonBorderDisabled, default:transparent]";
$ouif-primaryButtonBackground: "[theme:primaryButtonBackground, default:#0078d4]";
$ouif-primaryButtonBackgroundHovered: "[theme:primaryButtonBackgroundHovered, default:#106ebe]";
$ouif-primaryButtonBackgroundPressed: "[theme:primaryButtonBackgroundPressed, default:#005a9e]";
$ouif-primaryButtonBackgroundDisabled: "[theme:primaryButtonBackgroundDisabled, default:#f4f4f4]";
$ouif-primaryButtonBorder: "[theme:primaryButtonBorder, default:transparent]";
$ouif-primaryButtonText: "[theme:primaryButtonText, default:#ffffff]";
$ouif-primaryButtonTextHovered: "[theme:primaryButtonTextHovered, default:#ffffff]";
$ouif-primaryButtonTextPressed: "[theme:primaryButtonTextPressed, default:#ffffff]";
$ouif-primaryButtonTextDisabled: "[theme:primaryButtonTextDisabled, default:#d0d0d0]";
$ouif-accentButtonBackground: "[theme:accentButtonBackground, default:#8764b8]";
$ouif-accentButtonText: "[theme:accentButtonText, default:#ffffff]";
$ouif-menuBackground: "[theme:menuBackground, default:#ffffff]";
$ouif-menuDivider: "[theme:menuDivider, default:#c8c8c8]";
$ouif-menuIcon: "[theme:menuIcon, default:#0078d4]";
$ouif-menuHeader: "[theme:menuHeader, default:#0078d4]";
$ouif-menuItemBackgroundHovered: "[theme:menuItemBackgroundHovered, default:#f4f4f4]";
$ouif-menuItemBackgroundPressed: "[theme:menuItemBackgroundPressed, default:#eaeaea]";
$ouif-menuItemText: "[theme:menuItemText, default:#333333]";
$ouif-menuItemTextHovered: "[theme:menuItemTextHovered, default:#212121]";
$ouif-listBackground: "[theme:listBackground, default:#ffffff]";
$ouif-listText: "[theme:listText, default:#333333]";
$ouif-listItemBackgroundHovered: "[theme:listItemBackgroundHovered, default:#f4f4f4]";
$ouif-listItemBackgroundChecked: "[theme:listItemBackgroundChecked, default:#eaeaea]";
$ouif-listItemBackgroundCheckedHovered: "[theme:listItemBackgroundCheckedHovered, default:#dadada]";
$ouif-listHeaderBackgroundHovered: "[theme:listHeaderBackgroundHovered, default:#f4f4f4]";
$ouif-listHeaderBackgroundPressed: "[theme:listHeaderBackgroundPressed, default:#eaeaea]";
$ouif-actionLink: "[theme:actionLink, default:#333333]";
$ouif-actionLinkHovered: "[theme:actionLinkHovered, default:#212121]";
$ouif-link: "[theme:link, default:#0078d4]";
$ouif-linkHovered: "[theme:linkHovered, default:#004578]";
$ouif-listTextColor: "[theme:listTextColor, default:#333333]";
$ouif-menuItemBackgroundChecked: "[theme:menuItemBackgroundChecked, default:#eaeaea]";
$ouif-elevation4: "[theme:elevation4, default:0 0 5px 0 rgba(0,0,0,.4)]";
$ouif-elevation8: "[theme:elevation8, default:0 0 5px 0 rgba(0,0,0,.4)]";
$ouif-elevation16: "[theme:elevation16, default:0 0 5px 0 rgba(0,0,0,.4)]";
$ouif-elevation64: "[theme:elevation64, default:0 0 5px 0 rgba(0,0,0,.4)]";
$ouif-roundedCorner2: "[theme:roundedCorner2, default:0px]";
$ouif-font-tiny-fontFamily: "[theme:ms-font-tiny-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-tiny-MozOsxFontSmoothing: "[theme:ms-font-tiny-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-tiny-WebkitFontSmoothing: "[theme:ms-font-tiny-WebkitFontSmoothing, default: antialiased]";
$ouif-font-tiny-fontSize: "[theme:ms-font-tiny-fontSize, default: 10px]";
$ouif-font-tiny-fontWeight: "[theme:ms-font-tiny-fontWeight, default: 600]";
$ouif-font-xSmall-fontFamily: "[theme:ms-font-xSmall-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-xSmall-MozOsxFontSmoothing: "[theme:ms-font-xSmall-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-xSmall-WebkitFontSmoothing: "[theme:ms-font-xSmall-WebkitFontSmoothing, default: antialiased]";
$ouif-font-xSmall-fontSize: "[theme:ms-font-xSmall-fontSize, default: 11px]";
$ouif-font-xSmall-fontWeight: "[theme:ms-font-xSmall-fontWeight, default: 400]";
$ouif-font-small-fontFamily: "[theme:ms-font-small-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-small-MozOsxFontSmoothing: "[theme:ms-font-small-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-small-WebkitFontSmoothing: "[theme:ms-font-small-WebkitFontSmoothing, default: antialiased]";
$ouif-font-small-fontSize: "[theme:ms-font-small-fontSize, default: 12px]";
$ouif-font-small-fontWeight: "[theme:ms-font-small-fontWeight, default: 400]";
$ouif-font-smallPlus-fontFamily: "[theme:ms-font-smallPlus-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-smallPlus-MozOsxFontSmoothing: "[theme:ms-font-smallPlus-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-smallPlus-WebkitFontSmoothing: "[theme:ms-font-smallPlus-WebkitFontSmoothing, default: antialiased]";
$ouif-font-smallPlus-fontSize: "[theme:ms-font-smallPlus-fontSize, default: 13px]";
$ouif-font-smallPlus-fontWeight: "[theme:ms-font-smallPlus-fontWeight, default: 400]";
$ouif-font-medium-fontFamily: "[theme:ms-font-medium-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-medium-MozOsxFontSmoothing: "[theme:ms-font-medium-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-medium-WebkitFontSmoothing: "[theme:ms-font-medium-WebkitFontSmoothing, default: antialiased]";
$ouif-font-medium-fontSize: "[theme:ms-font-medium-fontSize, default: 14px]";
$ouif-font-medium-fontWeight: "[theme:ms-font-medium-fontWeight, default: 400]";
$ouif-font-mediumPlus-fontFamily: "[theme:ms-font-mediumPlus-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-mediumPlus-MozOsxFontSmoothing: "[theme:ms-font-mediumPlus-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-mediumPlus-WebkitFontSmoothing: "[theme:ms-font-mediumPlus-WebkitFontSmoothing, default: antialiased]";
$ouif-font-mediumPlus-fontSize: "[theme:ms-font-mediumPlus-fontSize, default: 15px]";
$ouif-font-mediumPlus-fontWeight: "[theme:ms-font-mediumPlus-fontWeight, default: 400]";
$ouif-font-large-fontFamily: "[theme:ms-font-large-fontFamily, default: 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-large-MozOsxFontSmoothing: "[theme:ms-font-large-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-large-WebkitFontSmoothing: "[theme:ms-font-large-WebkitFontSmoothing, default: antialiased]";
$ouif-font-large-fontSize: "[theme:ms-font-large-fontSize, default: 17px]";
$ouif-font-large-fontWeight: "[theme:ms-font-large-fontWeight, default: 300]";
$ouif-font-xLarge-fontFamily: "[theme:ms-font-xLarge-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-xLarge-MozOsxFontSmoothing: "[theme:ms-font-xLarge-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-xLarge-WebkitFontSmoothing: "[theme:ms-font-xLarge-WebkitFontSmoothing, default: antialiased]";
$ouif-font-xLarge-fontSize: "[theme:ms-font-xLarge-fontSize, default: 21px]";
$ouif-font-xLarge-fontWeight: "[theme:ms-font-xLarge-fontWeight, default: 100]";
$ouif-font-xLargePlus-fontFamily: "[theme:ms-font-xLargePlus-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-xLargePlus-MozOsxFontSmoothing: "[theme:ms-font-xLargePlus-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-xLargePlus-WebkitFontSmoothing: "[theme:ms-font-xLargePlus-WebkitFontSmoothing, default: antialiased]";
$ouif-font-xLargePlus-fontSize: "[theme:ms-font-xLargePlus-fontSize, default: 21px]";
$ouif-font-xLargePlus-fontWeight: "[theme:ms-font-xLargePlus-fontWeight, default: 100]";
$ouif-font-xxLarge-fontFamily: "[theme:ms-font-xxLarge-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-xxLarge-MozOsxFontSmoothing: "[theme:ms-font-xxLarge-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-xxLarge-WebkitFontSmoothing: "[theme:ms-font-xxLarge-WebkitFontSmoothing, default: antialiased]";
$ouif-font-xxLarge-fontSize: "[theme:ms-font-xxLarge-fontSize, default: 28px]";
$ouif-font-xxLarge-fontWeight: "[theme:ms-font-xxLarge-fontWeight, default: 100]";
$ouif-font-xxLargePlus-fontFamily: "[theme:ms-font-xxLargePlus-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-xxLargePlus-MozOsxFontSmoothing: "[theme:ms-font-xxLargePlus-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-xxLargePlus-WebkitFontSmoothing: "[theme:ms-font-xxLargePlus-WebkitFontSmoothing, default: antialiased]";
$ouif-font-xxLargePlus-fontSize: "[theme:ms-font-xxLargePlus-fontSize, default: 28px]";
$ouif-font-xxLargePlus-fontWeight: "[theme:ms-font-xxLargePlus-fontWeight, default: 100]";
$ouif-font-superLarge-fontFamily: "[theme:ms-font-superLarge-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-superLarge-MozOsxFontSmoothing: "[theme:ms-font-superLarge-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-superLarge-WebkitFontSmoothing: "[theme:ms-font-superLarge-WebkitFontSmoothing, default: antialiased]";
$ouif-font-superLarge-fontSize: "[theme:ms-font-superLarge-fontSize, default: 42px]";
$ouif-font-superLarge-fontWeight: "[theme:ms-font-superLarge-fontWeight, default: 100]";
$ouif-font-mega-fontFamily: "[theme:ms-font-mega-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-font-mega-MozOsxFontSmoothing: "[theme:ms-font-mega-MozOsxFontSmoothing, default: grayscale]";
$ouif-font-mega-WebkitFontSmoothing: "[theme:ms-font-mega-WebkitFontSmoothing, default: antialiased]";
$ouif-font-mega-fontSize: "[theme:ms-font-mega-fontSize, default: 72px]";
$ouif-font-mega-fontWeight: "[theme:ms-font-mega-fontWeight, default: 100]";


/* State Colors */
/** Alerts **/
$ouif-alert: "[theme:alert, default: #d83b01]";
$ouif-alertBackground: "[theme:alertBackground, default: #deecf9]";
$ouif-alertText: "[theme:alertText, default: #333333]";
/** Error **/
$ouif-error: "[theme:error, default: #a80000]";
$ouif-errorBackground: "[theme:errorBackground, default: #fde7e9]";
$ouif-errorText: "[theme:errorText, default: #333333]";
/** Info ***/
$ouif-info: "[theme:info, default: #767676]";
$ouif-infoBackground: "[theme:infoBackground, default: #f4f4f4]";
$ouif-infoText: "[theme:infoText, default: #333333]";
/** Warning **/
$ouif-warning: "[theme:warning, default: #767676]";
$ouif-warningBackground: "[theme:warningBackground, default: #fff4ce]";
$ouif-warningText: "[theme:warningText, default: #333333]";
/** Server Warning **/
$ouif-severeWarning: "[theme:severeWarning, default: #d83b01]";
$ouif-severeWarningBackground: "[theme:severeWarningBackground, default: #fed9cc]";
$ouif-severeWarningText: "[theme:severeWarningText, default: #333333]";
/** Success **/
$ouif-success: "[theme:success, default: #107c10]";
$ouif-successBackground: "[theme:successBackground, default: #dff6dd]";
$ouif-successText: "[theme:successText, default: #333333]";